{# templates/registration/confirmation.html.twig #}


{% block title %}Confirmation{% endblock %}

{% block body %}
    <h1>Bonjour, {{ login }}</h1>
    <p>Votre inscription a été confirmée avec succès!</p>
{% endblock %}
