{# templates/img/home.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Site Image{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-5">Site Image</h1>
        {# Ajoutez ici le contenu spécifique de la page d'accueil #}
    </div>
{% endblock %}
