{# templates/formulaires/confirmation.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Confirmation{% endblock %}

{% block body %}
    <div>
        <h1>Merci, votre inscription a été confirmée avec succès !</h1>
        <p>Bienvenue, {{ nom }} !</p>
        <!-- Ajoutez d'autres informations de confirmation si nécessaire -->
    </div>
{% endblock %}
